
{% extends "base.html" %}

{% load static %}
{% load component_tags %}

{% comment %} Meta tags {% endcomment %}
{% block meta_tags %}
<link rel="stylesheet" href="{% static 'css/subpage.css' %}">
<script src="{% static 'js/communicate.js' %}"></script>

<link rel="stylesheet" href="{% static 'vendor/Xterm/xterm.min.css' %}">
<link rel="stylesheet" href="{% static 'css/terminal.css' %}">
<script type="text/javascript" src="{% static 'vendor/Xterm/xterm.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/Xterm/xterm-addon-fit.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tools/terminal.js' %}"></script>
<script type="text/javascript">
    var UserobjectPk = {{ user_object.pk }};
</script>
<script type="text/javascript" src="{% static 'js/channels.js' %}"></script>
{% endblock %}


{% block content %}
<main style="z-index: 10" class="form-signin text-center">
    <pre>

        <b>SSHData</b>: "{{object}}"
                ID "{{object.pk}}"
                Name "{{object.name}}"
    
    
        <b>SessionsList</b>: "{{user_object}}"
                ID "{{user_object.pk}}" --> <i>this will be use to get websocket data</i>
                Name "{{user_object.name}}"
    
    </pre>

</main>

<button id="close" data-session-id="{{user_object.pk}}">Close connn</button>

<main>
    <div id="container">
        <div id="terminal"></div>
    </div>
</main>


<script type="text/javascript">

    window.addEventListener('load', ()=>{
        updateElementForSessionEvent('create', '{{ object.pk }}', '{{ user_object.name }}');
    });

    document.getElementById('close').addEventListener('click', (e)=>{
        deleteCurrentSession().then(result => {
            console.log(result)
            id = e.target.getAttribute('data-session-id')
            if (id) emitCloseEvent(id)

        }).catch(error => {
            console.error('Error in deleting sessions:', error);
        });
    })
</script>


{% endblock %}




