
{% extends "base.html" %}

{% load static %}
{% load component_tags %}

{% comment %} Meta tags {% endcomment %}
{% block meta_tags %}
<link rel="stylesheet" href="{% static 'css/subpage.css' %}">
<script  src="{% static 'js/events.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/terminal.css' %}">
<script src="https://cdn.jsdelivr.net/npm/xterm@5.3.0/lib/xterm.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.8.0/lib/xterm-addon-fit.min.js"></script>
<script type="text/javascript" src="{% static 'js/tools/terminal.js' %}"></script>
<script type="text/javascript">
    var UserobjectPk = {{ user_object.pk }};
</script>
<script type="text/javascript" src="{% static 'js/channels.js' %}"></script>
{% endblock %}


{% block content %}
<main id="main" class="position-relative">
<div class="position-absolute end-0 start-0">sss</div>


<main>
    <div id="container">
        <div id="terminal"></div>
    </div>
</main>


<script type="text/javascript">

    window.addEventListener('load', ()=>{
        emitElementForSessionEvent('create', '{{ user_object.pk }}', '{{ user_object.name }}');
    });
</script>


{% endblock %}




