.form-label {
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  color: var(--slate-200);
  opacity: .4;
}
.form-input {
  display: block;
  width: 100%;
  padding: .375rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-clip: padding-box;
  border: 2px solid var(--slate-700);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--slate-200);
  border-radius: 1rem;
  height: calc(3.5rem + 2px);
  line-height: 1.25;
  background-color: var(--slate-800);
  outline: none;
  transition: border .5s ease-in-out;
}
.form-input:hover {
    border: 2px solid var(--slate-600);
}

.form-kbd {
    top: 0;
    right: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    color: var(--slate-500);
    font-family: var(--bs-font-monospace);
    line-height: 1.66;
    opacity: 1;
    transition: opacity .4s ease-in-out;
}
.form-input:focus ~ .form-kbd{
    opacity: 0;
}
