
{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}

{% comment %} Meta tags {% endcomment %}
{% block meta_tags %}
<link rel="stylesheet" href="{% static 'css/subpage.css' %}">
{% endblock %}


{% block content %}

<main style="z-index: 10" class="">
    <div class="container-sm">
        <form method="post" class="p-4" action="{{action}}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                {% bootstrap_label field.label %}
                {% bootstrap_field field show_label=False  %}
                </div>
            {% endfor %}

            <div class="d-flex justify-content-center">
                {{ form.form_buttons }}
            </div>
        </form>
    </div>
</main>


{% endblock %}