{% extends "base.html" %}

{% load static %}
{% load component_tags %}

{% comment %} Meta tags {% endcomment %}
{% block meta_tags %}
{% comment %} <!-- Content-Security-Policy meta tag --> {% endcomment %}
<meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self'">
<link rel="stylesheet" href="{% static 'css/base_terminal.css' %}">
<script  src="{% static 'js/ui.js' %}"></script>
<script  src="{% static 'js/communicate.js' %}"></script>
{% endblock %}
{% block content %}

<main class='h-100 d-flex flex-column align-items-stretch'>
    {% comment %} d-flex flex-nowrap justify-content-start {% endcomment %}
    <div class="mb-2 d-flex flex-nowrap justify-content-start">
        <div id="tablist" class="order-0 flex-fill nav nav-tabs p-1 d-flex align-items-center justify-content-start" id="nav-tab" role="tablist">
          <button id="createTerminal" class="nav-link add d-flex align-items-center justify-content-center" type="button" role="tab" >
            <img src="{% static 'images/add.svg' %}" class="d-block" height="16px" width="16px" alt="New" />
          </button>
        </div>
        <div id="profile" class="order-1 dropdown text-end" style="  border-bottom: 1px solid var(--slate-500) !important;">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="user_profile" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://api.dicebear.com/7.x/pixel-art/svg?seed={{user.username}}" alt="mdo" width="36" height="36" class="rounded-circle border-slate-700">
            </a>
            <ul class="dropdown-menu text-small dropdown-menu-dark" aria-labelledby="user_profile">
                <li>
                    <button class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="color: var(--slate-400)">
                        <img class="align-top px-1" src="{% static 'images/saved.svg' %}" />
                        My sessions
                    </button>
                </li>
                {% if user.is_staff or user.is_superuser %}
                <li>
                    <a class="dropdown-item" href="/admin" style="color: var(--slate-400)">
                        <img class="align-top px-1" src="{% static 'images/admin.svg' %}" />
                        Admin Panel
                    </a>
                </li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}" style="color: var(--slate-400)">
                        <img class="align-top px-1" src="{% static 'images/logout.svg' %}" />
                        Sign out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content flex-fill" id="tabpanel">

    </div>
</main>

<script>
    window.addEventListener('load', function(event) {
        let sessions = getSessions()
        addElementsForSessions(sessions);
        chooseLastElementForSessions(sessions);

        document.getElementById('createTerminal').addEventListener('click', (e)=>{
            addCreateTabPanels()
        })

        document.getElementById('search-accordion').addEventListener('input', function(event) {
            const filterValue = event.target.value.trim(); 
            filterAccordionItems(filterValue);
        });

        prepareSavedSessions()
    });


</script>


<div class="context-menu">
    <div class="container" id="contextMenu" style="display:none">
        <div class="menu">
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header text-center" style="color: var(--slate-400); background-color: var(--slate-600);">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        <h5 id="offcanvasRightLabel" class="m-0">My Saved sessions</h5>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="input-group mb-3">
                <input type="text" id="search-accordion" class="form-control" style="background-color: #3d444a !important" placeholder="Session name/ip/hostname" aria-label="Session name/ip" aria-describedby="button-addon2">
                <button class="btn btn-dark bg-sky-800" type="button" id="button-addon2">Auto Search</button>
            </div>
        </form>
        <div class="h-100 w-100 verflow-auto">

            <div class="accordion accordion-flush bg-dark" id="accordionFlush">
            </div>
            
        </div>
    </div>
</div>

{% endblock %}