{% extends "base.html" %}

{% load static %}
{% load component_tags %}

{% comment %} Meta tags {% endcomment %}
{% block meta_tags %}
{% comment %} <!-- Content-Security-Policy meta tag --> {% endcomment %}
<meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self'">
<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
<script  src="{% static 'js/communicate.js' %}"></script>
<script  src="{% static 'js/ui.js' %}"></script>
{% endblock %}


{% block content %}


<main class='h-100'>
    <nav>
        <div id="tablist" class="nav nav-tabs p-1 d-flex align-items-center justify-content-start" style="border-color: var(--slate-700); font-size: .7rem; " id="nav-tab" role="tablist">
          <button id="createTerminal" class="nav-link add d-flex align-items-center justify-content-center" type="button" role="tab" >
            <img src="{% static 'images/add.svg' %}" class="d-block" height="16px" width="16px" alt="New" />
          </button>
        </div>
    </nav>
    <div class="tab-content h-100" id="tabpanel">

    </div>
</main>

<script>
    let response = getSessions().then(result => {
        if (result && result.sessions) {
            addElementsForSessions(result.sessions);
            chooseLastElementForSessions(result.sessions);
        }

    }).catch(error => {
        console.error('Error in retrieving sessions:', error);
    });

    document.getElementById('createTerminal').addEventListener('click', (e)=>{
        addCreateTabPanels('{% url "create" %}')
    })
    


</script>

{% endblock %}