{% extends "base.html" %}

{% load static %}
{% load component_tags %}

{% comment %} Meta tags {% endcomment %}
{% block meta_tags %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/subpage.css' %}">
<script src="{% static 'js/words.js' %}"></script>
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}


{% block content %}

<main style="z-index: 10" class="form-signin text-center">
    <div class="p-3 text-center">
        <pre style="font-size:75%; overflow: visible">
                                                   \ / _
                                      ___,,,
                                      \_[o o]
     Errare humanum est!              C\  _\/
             /                     _____),_/__
        ________                  /     \/   /
      _|       .|                /      o   /
     | |       .|               /          /
      \|       .|              /          /
       |________|             /_        \/
       __|___|__             _//\        \
 _____|_________|____       \  \ \        \
                    _|       ///  \        \
                   |               \       /
                   |               /      /
                   |              /      /
 ________________  |             /__    /_
 b'ger        ...|_|.............. /______\.......
        </pre>

        <h1>Error 404</h1>
    </div>
    <button id="close" data-session-id="create" class="mt-4 w-100 btn btn-lg btn-dark mb-2 rounded-pill border-slate-700 bg-slate-800" type="submit">
        Close
    </button>
</main>



<script>
    window.addEventListener("load", (e) => {
        document.getElementById('close').addEventListener('click', (e) => {
            id = e.target.getAttribute('data-session-id')
            window.location.href = '/'

            if (id) emitCloseEvent(id)
        });
    });
</script>



{% endblock %}


