{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/cli.css' %}">
    <link rel="stylesheet" href="{% static 'css/tabs.css' %}">

    {% block stylesheet %}{% endblock %}

    
    {% load component_tags %}

    <!-- Code Mirror -->
    {% component "LoadCodeMirror" %}
</head>


<body>
    {% block content %}{% endblock %}
</body>

{% block script %}{% endblock %}

<!-- Channels hander -->
<script type="text/javascript" src="{% static 'js/channels.js' %}"></script>

<!-- Tools - only handlers -->
<script type="text/javascript" src="{% static 'js/tools/cli.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tools/ui.js' %}"></script>

<!-- General handler -->
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</html>