{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Platform for simple terminal in webbrowser">
    <meta name="author" content="Krzysztof Stefański; Mateusz Setkowicz">
    <title>Web Terminal</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block meta_tags %}{% endblock %}

</head>
<body id="page-top">

    <div id="message">
        <div class="validation p-3 fw-4 text-center">
            {% bootstrap_messages %}
        </div>
    </div>

    {% block content %}{% endblock %}
    <div id="copyright" class="position-fixed bottom-0 end-0 p-2 opacity-25">
        Web Terminal - 2024 © Setkowicz, Stefanski
    </div>
</body>
</html>