{% extends "base.html" %}

{% load static %}  {# Load the static tag #}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/xterm.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/terminal.css' %}">
{% endblock stylesheet %}

{% block content %}
<main>
    <div id="container">
        <div id="terminal"></div>
    </div>
</main>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/tools/xterm.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools/xterm-addon-fit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tools/terminal.js' %}"></script>
{% endblock script %}
